* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    color: #000;
    background-color: #FFF;
    
}
header{
    background-color: #00000019 ;
      width: 100%;
  
    padding: 10px 20px; /* un peu d'air à gauche/droite */
    box-sizing: border-box;
}


.nuit{
    background-color: #303030;
    color: #FFF;
}
/* jour nuit btn*/
.jour-nuit {
    width: 25px;
    height: 25px;
    transition: transform 0.35s ease;
    
  }
  
  .rotate-half {
    transform: rotate(180deg);
  }
  
  .rotate-full {
    transform: rotate(360deg);
  }

/*conteneur*/
.conteneur {
  display: flex;
}
.lrgap{
    gap: 3%;
    margin-right: 3%;
}
.spaceBTW{
    justify-content: space-between;
}
.row {
  flex-direction: row;
}

.centerH {
  justify-content: center;
}

.centerV {
  align-items: center;
}

.right {
  margin-left: auto; /* ✅ Fait que l'élément va complètement à droite */
}